/* Resets */

* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
ul li {
    list-style-type: none;
}

/* Page layout */

html, body, #main {
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
}

#map, #pane {
    transition: height 0.5s ease-out;
}

#map {
    height: 100dvh;
}

/* Category icons */

.icon::before { content: "\eb8b"; }
.icon.cat-restaurant::before { content: "\e56c"; }
.icon.cat-bar::before { content: "\e540"; }
.icon.cat-hike::before { content: "\e50a"; }
.icon.cat-sightseeing::before { content: "\e84f"; }
.icon.cat-viewpoint::before { content: "\e3f7"; }
.icon.cat-conference::before { content: "\e80c"; }

/* Map markers */

.leaflet-marker-icon {
    font-variation-settings: 'FILL' 0, 'wght' 200;
    color: #55f;
    text-shadow: 0 0 5px #55f;
    background-color: #fff9;
    border-radius: 14px;
    border: solid thin #55f5;
    padding: 2px;
}
.leaflet-marker-icon.active {
    font-variation-settings: 'FILL' 0, 'wght' 600;
    color: #00f;
    background-color: #fffe;
    border: solid thin #00f;
}
.leaflet-marker-icon.hidden {
    display: none;
}

/* The info pane */

#pane {
    height: 0dvh;
    border-top: solid thin gray;
    border-radius: 4px;
    background-color: white;
    overflow-y: scroll;
}
#pane-content {
    max-width: 600px;
    padding: 4px;
    margin: auto;
    position: relative;
}

#share-button {
    position: absolute;
    right: 0;
    cursor: pointer;
    display: none;
}
#share-button.supported {
    display: block;
}

#main.open #map, #main.open #pane {
    height: 50dvh;
}

#main:not(.marker-view) #result,
#main.marker-view #list {
    display: none;
}

/* Location card */

.card .icon {
    vertical-align: text-top;
    padding-right: 12px;
}

.card .tags {
    margin-left: 36px;
}
.card .tags li {
    display: inline-block;
}
.card .tags button {
    background-color: transparent;
    border: none;
    margin: 0 4px;
    /*cursor: pointer;*/
    color: #555;
}

.description, .recommended-by, .links, .geo-link {
    margin-bottom: 1ex;
    margin-top: 1ex;
}

.description {
    text-align: justify;
    padding: 0 6px;
}

.recommended-by {
    font-size: 80%;
    text-align: right;
}
.recommended-by::before {
    content: "recommended by: ";
    color: #555;
}

.card hr {
    color: #aaa;
    width: 60%;
    margin: auto;
    margin-top: 2ex;
}

.links, .geo-link {
    font-size: 90%;
}
.links li, .geo-link {
    margin-left: 12px;
}

.links .material-symbols-outlined,
.geo-link .material-symbols-outlined {
    font-size: 100%;
    vertical-align: middle;
    padding-right: 5px;
}
