/* Resets */

* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
ul li {
    list-style-type: none;
}

/* Page layout */

html, body, #main {
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
}

#map, #pane {
    transition: height 0.5s ease-out;
}

#map {
    height: 100dvh;
}

/* Category icons and colors */

.icon::before { content: "\eb8b"; }
.icon.cat-restaurant::before { content: "\e56c"; }
.icon.cat-bar::before { content: "\e540"; }
.icon.cat-café::before { content: "\e541"; }
.icon.cat-bakery::before { content: "\ea53"; }
.icon.cat-hike::before { content: "\e50a"; }
.icon.cat-sightseeing::before { content: "\e84f"; }
.icon.cat-viewpoint::before { content: "\e3f7"; }
.icon.cat-shopping::before { content: "\f1cc"; }
.icon.cat-beach::before { content: "\eb3e"; }
.icon.cat-sport::before { content: "\e566"; }
.icon.cat-conference::before { content: "";  }
.icon.cat-conference {
    background: url("assets/iacrlogo_small.png");
    background-size: 28px;
    background-position: center;
    background-repeat: no-repeat;
    height: 28px; 
    width: 28px;
    border: none;
    padding: 0;
}

.cat-restaurant, .cat-bar, .cat-café, .cat-bakery {
    --base-color: #55f;
    --active-color: #00f;
}
.cat-shopping, .cat-sightseeing {
    --base-color: #f55;
    --active-color: #f00;
}
.cat-viewpoint, .cat-beach {
    --base-color: #ff8f00;
    --active-color: #cb7200;
}
.cat-sport, .cat-hike {
    --base-color: #5a5;
    --active-color: #0a0;
}
.cat-conference {
    --base-color: #4c5fa2;
    --active-color: #102a83;
}

/* Own location marker */
.icon.location::before { content: "\e55c"; }
.location {
    --base-color: #000;
    --active-color: #000;
}




/* Map markers */

.leaflet-marker-icon {
    font-variation-settings: 'FILL' 0, 'wght' 200;
    color: var(--base-color);
    text-shadow: 0 0 5px currentcolor;
    background-color: #fff9;
    border-radius: 14px;
    border: solid thin currentcolor;
    padding: 2px;
}
.leaflet-marker-icon.active {
    color: var(--active-color);
    font-variation-settings: 'FILL' 0, 'wght' 600;
    background-color: #fffe;
    z-index: 1000!important;
}
.leaflet-marker-icon.cat-conference:not(.active) {
    opacity: 0.8;
}

path {
    stroke: var(--base-color);
    stroke-width: 6;
}
path.active {
    stroke: var(--active-color);
}

.hidden {
    display: none;
}

/* The info pane */

#pane {
    height: 0dvh;
    border-top: solid thin gray;
    border-radius: 4px;
    background-color: white;
    overflow-y: scroll;
}
#pane-content {
    max-width: 600px;
    padding: 4px;
    margin: auto;
    position: relative;
}

#share-button {
    position: absolute;
    right: 0;
    cursor: pointer;
    display: none;
}
#share-button.supported {
    display: block;
}

#main.open #map, #main.open #pane {
    height: 50dvh;
}

#main:not(.layer-view) #result,
#main.layer-view #list {
    display: none;
}

/* Location card */

.card .icon {
    vertical-align: text-top;
    padding-right: 12px;
}

.card .tags {
    margin-left: 36px;
}
.card .tags li {
    display: inline-block;
}
.card .tags button {
    background-color: transparent;
    border: none;
    margin: 0 4px;
    /*cursor: pointer;*/
    color: #555;
}

.description, .recommended-by, .links, .geo-link {
    margin-bottom: 1ex;
    margin-top: 1ex;
}

.description {
    text-align: justify;
    padding: 0 6px;
}

.recommended-by {
    font-size: 80%;
    text-align: right;
}
.recommended-by::before {
    content: "recommended by: ";
    color: #555;
}

.card hr {
    color: #aaa;
    width: 60%;
    margin: auto;
    margin-top: 2ex;
}

.links, .geo-link {
    font-size: 90%;
}
.links li, .geo-link {
    margin-left: 12px;
}

.links .material-symbols-outlined,
.geo-link .material-symbols-outlined {
    font-size: 100%;
    vertical-align: middle;
    padding-right: 5px;
}
