/* Resets */

* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
ul li {
    list-style-type: none;
}

/* Page layout */
:root {
    --transition-duration: 0.5s;
    --transition-type: ease-out;
}

html, body, #main {
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
}

#map, #pane {
    transition: height var(--transition-duration) var(--transition-type);
}

#map {
    height: 100dvh;
}

/* Map controls */
#locate-button, #burger {
    cursor: pointer;
    font-variation-settings: 'FILL' 1, 'wght' 200;
}
#locate-button a.inactive:before { content: '\e55c'; }
#locate-button a.searching::before { 
    content: '\e1b7'; 
    animation: searching 2s infinite linear; 
}
#locate-button a.active::before, #locate-button a.tracking::before
{ content: '\e55c'; color: blue; }
#locate-button a.failed::before { content: '\e1b6'; color: gray; }

@keyframes searching {
    from { content: '\e1b7'; }
    to   { content: '\e55c'; }
}

.leaflet-pane.leaflet-position-pane {
    z-index: 1100;
}

/* Category icons and colors */

.icon::before { content: "\eb8b"; }
.icon.cat-restaurant::before { content: "\e56c"; }
.icon.cat-bar::before { content: "\e540"; }
.icon.cat-café::before { content: "\e541"; }
.icon.cat-bakery::before { content: "\ea53"; }
.icon.cat-hike::before { content: "\e50a"; }
.icon.cat-sightseeing::before { content: "\e84f"; }
.icon.cat-viewpoint::before { content: "\e3f7"; }
.icon.cat-shopping::before { content: "\f1cc"; }
.icon.cat-beach::before { content: "\eb3e"; }
.icon.cat-sport::before { content: "\e566"; }
.icon.cat-conference::before { content: "";  }
.icon.cat-conference {
    background: url("assets/iacrlogo_small.png");
    background-size: 28px;
    background-position: center;
    background-repeat: no-repeat;
    height: 28px; 
    width: 28px;
    border: none;
    padding: 0;
}

.cat-restaurant, .cat-bar, .cat-café, .cat-bakery {
    --base-color: #55f;
    --active-color: #00f;
}
.cat-shopping, .cat-sightseeing {
    --base-color: #f55;
    --active-color: #f00;
}
.cat-viewpoint, .cat-beach {
    --base-color: #ff8f00;
    --active-color: #cb7200;
}
.cat-sport, .cat-hike {
    --base-color: #5a5;
    --active-color: #0a0;
}
.cat-conference {
    --base-color: #4c5fa2;
    --active-color: #102a83;
}


/* Map markers */

.leaflet-marker-icon {
    font-variation-settings: 'FILL' 0, 'wght' 200;
    color: var(--base-color);
    text-shadow: 0 0 5px currentcolor;
    background-color: #fff9;
    border-radius: 14px;
    border: solid thin currentcolor;
    padding: 2px;
}
.leaflet-marker-icon.active {
    color: var(--active-color);
    font-variation-settings: 'FILL' 0, 'wght' 600;
    background-color: #fffe;
    z-index: 1000!important;
}
.leaflet-marker-icon.cat-conference:not(.active) {
    opacity: 0.8;
}

path {
    stroke: var(--base-color);
    stroke-width: 6;
}
path.active {
    stroke: var(--active-color);
}

.leaflet-marker-icon.hidden, path.hidden {
    display: none;
}


/* The info pane and its button */
#burger span {
    display: block;
    transition: transform var(--transition-duration) var(--transition-type);
}
#main.open #burger span {
    transform: rotate(90deg);
}

#pane {
    height: 0dvh;
    border-top: solid thin gray;
    border-radius: 4px;
    background-color: white;
    overflow-y: scroll;
}
#pane-content {
    max-width: 600px;
    padding: 4px;
    margin: auto;
}

#main.open #map, #main.open #pane {
    height: 50dvh;
}

#main:not(.list-view) .show-on-list,
#main.list-view .show-on-result {
    display: none;
}

/* Common layout for list and cards */

#pane-header {
    display: flex;
    flex-flow: row nowrap;
}
#share-button.supported, #back-button {
    cursor: pointer;
    flex: 0 0 30px;
    display: flex;
    align-items: center;
}
#share-button:hover, #back-button:hover {
    text-shadow: 0 0 2px gray;
}
#share-button {
    border-left: solid gray thin;
    text-align: right;
    display: none;
}
#back-button {
    border-right: solid gray thin;
    text-align: left;
}

#pane-control {
    flex: 1;
    padding: 0 6px;
}

#pane-content .icon {
    vertical-align: text-top;
    padding-right: 12px;
}

#pane-content .tags, #tags {
    margin-left: 36px;
}

.tags > *, #tags > * {
    display: inline-block;
    margin-right: 1ex;
}

#alltags {
    max-height: 3.5em;
    overflow-y: scroll;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
#alltags .tag {
    display: block;
    font-size: 80%;
    border-radius: 1ex;
    padding: 1px 4px;
    margin: 2px;
    cursor: pointer;
    color: #00f;
    background-color: #eef;
}
#alltags .tag:hover {
    background-color: #ddf;
    text-decoration: line-through;
}
#alltags .tag.inactive {
    color: gray;
    order: 1;
    text-decoration: line-through;
}
#alltags .tag.inactive:hover {
    text-decoration: none;
}

/* List */

.thumbnail {
    display: block;
    color: inherit;
    padding: 10px 0;
    border-bottom: solid thin gray;
}
.thumbnail:hover {
    text-decoration: none;
    outline: solid thin gray;
}
.thumbnail.hidden {
    display: none;
}
.thumbnail .tags {
    color: #555;
}

/* Cards */

.description, .recommended-by, .links, .geo-link {
    margin-bottom: 1ex;
    margin-top: 1ex;
}

.description {
    text-align: justify;
    padding: 0 6px;
}

.recommended-by {
    font-size: 80%;
    text-align: right;
}
.recommended-by::before {
    content: "recommended by: ";
    color: #555;
}

.card hr {
    color: #aaa;
    width: 60%;
    margin: auto;
    margin-top: 2ex;
}

.links, .geo-link {
    font-size: 90%;
}
.links li, .geo-link {
    margin-left: 12px;
}

.links .material-symbols-outlined,
.geo-link .material-symbols-outlined {
    font-size: 100%;
    vertical-align: middle;
    padding-right: 5px;
}
